Make sure any datetime string we generate complies with STAC definition

Timestamps consist of a date and time in UTC and MUST be formatted according to [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6). The temporal reference system is the Gregorian calendar.

So the format should be e.g.:
1990-12-31T23:59:60Z (with ending Z to make UTC specific)
or have the difference to UTC specified with +/-:
1990-12-31T15:59:60-08:00
1990-01-01T12:00:27+00:20

Following is not valid: 1990-12-31T23:59:60

**edit:
following collection does not have the expected formatting for the link datetime property:
https://gtif-cerulean.github.io/catalog/cerulean/4D_Greenland_Meltmap/4D_Greenland_Meltmap/collection.json

Review of datetime strings has been done in https://github.com/eodash/eodash_catalog/commit/1cc61401bf32dd7872934f2dd8266207e6c66040

The only supported format of "datetime" and "start_datetime" and "end_datetime" fields is now `1990-12-31T23:59:60Z`